@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@100;300;400&family=Rubik:wght@300&family=Sofia&family=Trocchi&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.navbar-background{
  position: relative;
  background: rgba(0, 0, 0, 0.9)
}

.show-nav{
  max-height: 12rem;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}

.hide-nav{
  max-height: 0;
  transition: max-height 0.4s ease-out;
  overflow: hidden;
}

.hero-image{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/src/images/hero\ image.jpg"); */
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.go-to-btn{
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.go-to-btn:hover{
  background-color: #ff5080;
}

.move-up-and-down {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.links-animation:hover{
  color: #ff5080;
}

.links-animation{
  transition: color 0.2s ease-in-out;
}

.btn-animation{
  transition: background-color 0.3s ease-in-out;
}

.scroll-bar{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #ff5080;
  transform-origin: 0%;
}

.grayscale-animation{
  transition: filter 0.2s ease-in-out;
}

.appear-info + div{
  top: 2rem;
  opacity: 0;
  transition-property: top opacity;
  transition: 0.4s ease-in-out;
}

.appear-info:hover + div{
  opacity: 1;
  top: 0.1rem;
}

.appear-info + div:hover{
  opacity: 1;
  top: 0.1rem;
}

